
body
{
    height:100%;
    width:100%;
    box-sizing: border-box;
}
body
{
    background: url('https://t3.ftcdn.net/jpg/05/51/95/26/360_F_551952602_vp8d4v2nDYo8UExEpxFOtMMv8uOzPaq9.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    height:100vh;
    color: black;
}
